#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin-top: 60px;
}

h1 {
  font-size: 60pt;
}

#big-button {
  width: 20vw;
  height: 20vw;
  border-color: gray;
  border-radius: 100%;
  background-color: darkred;
  font-size: 40pt;
  font-family: sans-serif;
  color: white;
  transition: background-color 0.1s ease-in-out;
  border-style: solid;
}

#big-button:hover {
	background-color: red;
}

.signature {
	font-family: cursive; 
	font-size: 55pt;
}
